<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>

	<div class="container">
		<div class="row">
			<h1>Student List</h1>
		</div>
		
		<div class="row">
			<div class="col-lg-3">
				<a th:href = "@{/students/new}" class="btn btn-success btn-sm mb-3">Add Student</a>
			</div>
		</div>
		<table class="table table-hover table-dark table-bordered">
			<thead class="table-primary">
   				<tr style="text-align: center; color: black">
      				<th>First Name</th>
      				<th>Last Name</th>
      				<th>Email</th>
      				<th>Actions</th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr th:each = "student: ${students}">
     				<td th:text="${student.firstName}"></td>
      				<td th:text="${student.lastName}"></td>
      				<td th:text="${student.email}"></td>
      				<td>
      					<a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-warning">Update</a>
      					<a th:href="@{/students/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
      				</td>
    			</tr>
    		</tbody>
		</table>
	</div>
</body>
</html>